<html>
  <body>
    <head>
       <%= stylesheet_link_tag "application" %> 
    </head>
    <h1>HOMES</h1>
         <div class="index">
                   <div>
                        <table>

                            <tr>
                            <th>Style</th>
                            <th>Year_built</th>
                            <th>Parking</th>
                            <th>Price</th>

                            </tr>
                        </table>    
                    </div>
            <div >
              
                <% @homes.each do | home|  %>
                  
                        <div >
                           
                                    <h3><%="#{home.style}"%></h3>
                                    <h3 ><%="#{home.year_built}"%></h3>
                                    <h3 ><%="#{home.parking}"%></h3>
                                    <h3 ><%="#{home.price}"%></h3>

                                     
                        </div>   
                    
                   <a href="<%= edit_home_path(home.id) %>">Edit</a> 
                   
                   
                  
                <% end %>

            
        
            </div>
        </div>    
            <a class="button" href="/homes/new"> Create  New Homes</a>
            
            
            <a class="button" href="/homes/show">show Homes </a>

   </body>         
</html>            

        



